*{
    margin: 0;
    padding: 0;
}
.content{
    width: 80%;
}

/* Header */

header{
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
    font-family: roboto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    padding: 15px 165px;
    width: 199px;
    height: 40px;
    margin-left:150px ;
}
header ul{
    display: flex;
    flex-direction: row;
    margin-right: 300px;
}
header li{
    list-style-type: none;
    padding: 0px 8px 0px 8px;
}
header a{
    color: rgb(100, 100, 100);
    text-decoration: none;
}
.link1{
    color: white;
    background-color: #4719FF;
    display: inline;
    border-radius: 2px;
    padding: 7px 10px;
}
.link1:visited{
    color: white;
    background-color: #4719FF;
    display: inline;
    border-radius: 2px;
    padding: 7px 10px;
}
.link1:hover{
    color: white;
    background-color: black;
    display: inline;
    border-radius: 2px;
    transition: 0.5s;
    padding: 7px 10px;
}
.link2:visited{
    color: rgb(100, 100, 100);
    text-decoration: none;
}
.link2:hover{
    color: black;
    transition: 0.2s;
}

/* Section 1 */

#section1{
    background-color: #4719FF;
    height: 490px;
    width: 100%;
}
#section1 div{
    padding-top: 120px;
    text-align: center;
    color: white;
    font-family:sans-serif;
}
#section1 h1{
    font-size: 80px;
    font-weight:50;
    padding-bottom: 30px;
}
#section1 p{
    font-size: 20px;
    font-weight: 50;
    padding-bottom: 60px;
}
#section1 a{
    text-decoration: none;
    color: black;
    background-color: white;
    display: inline;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 23px;
}
#section1 a:visited{
    text-decoration: none;
    color: black;
    background-color: white;
    display: inline;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 23px;
}
#section1 a:hover{
    text-decoration: none;
    color: white;
    background-color: black;
    display: inline;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 23px;
}

/* aside */

aside ul{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:left;
    position: fixed;
    top: 140px;
    left: 0;
}
aside li{
    list-style-type: none;
    margin: 0px;
}
#mail{
    font-size: 30px;
    padding: 3px 17px;
    text-align: center;
    background-color: #db4437;
}
#linkdin{
    text-align: center;
    font-size: 30px;
    padding: 3px 17px;
    background-color: #0077b5;
}
#twitter{
    text-align: center;
    font-size: 30px;
    padding: 3px 17px;
    background-color: #1da1f2;
}
#facebook{
    text-align: center;
    font-size: 30px;
    padding: 3px 17px;
    background-color: #3b5998;
}

/* Section 2 */

#section2{
    color: black;
    margin: 80px auto;
    font-family: sans-serif;
    text-align: center;
    font-size:35px;
}
#f1{
    padding: 50px 0px 0px 280px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}
select{
    margin-right: 30px;
    text-align: center;
    font-size: 17px;
    width: 200px;
    padding: 3px;
    border:2px solid rgb(200, 200, 200);
}
label{
    padding-right: 20px;
}

/* Section 3 */

#section3{
    margin: 0px auto;
    font-family: sans-serif;
    width: 60%;
}
/* #section3 a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(86, 86, 86);
    display: flex;
    border-radius: 5px;
    width: 68%;
    margin: 5px 0px 0px 100px;
    border: 1px solid white;
    padding: 25px;
}
#section3 li{
    list-style-type: none;
}
.child{
    display: flex;
    margin: 40px 0px 0px 0px ;
}
.class{

    padding: 0px 7px;
    left: -272px;
}
#section3 h3{
    font-size: 21px;
}
#section3 h2{
    border-radius: 5px;
    top: 5px;
    left: 905px;
    color: white;
    background-color: rgb(86, 86, 86);
    padding:5px 15px;
    margin: 11px;
    text-align: center;
}

#section3 a:hover{
    text-decoration: none;
    color: rgb(86, 86, 86);
    display: flex;
    cursor: pointer;
    border: 1px solid #eee;
    width: 68%;
    margin: 5px 0px 0px 100px;
    padding: 25px;
    background-color: #f9fafa;
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
}
#section3 a:hover h2{
    background-color: royalblue;
    transition: 0.3s;
} */


#section3 .data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#section3 ul{
    list-style: none;
}
#section3 a{
    text-decoration: none;
}
#section3 .parent{
    cursor: crosshair;
    border: 2px solid white;
    margin: 1.2rem 0;
    padding: 1.2rem 1rem;
    line-height: 1.5;
}
#section3 .parent:visited{
    margin: 1.2rem 0;
    padding: 1.2rem 1rem;
    line-height: 1.5;
    border: 2px solid white;
    cursor: crosshair;
}
#section3 .parent:hover{
    margin: 1.2rem 0;
    padding: 1.2rem 1rem;
    line-height: 1.5;
    background-color: #f9fafa;
    cursor: crosshair;
    border: 2px solid #f4f4f4;
    transition: 0.3s;
}
.left{
    color: rgb(100, 100, 100);
    font-size: 17px;
    font-family: sans-serif;
}
.right{
    font-size: 13px;
    border-radius: 5px;
    color: white;
    background-color: rgb(86, 86, 86);
    padding: 5px 10px;
}
#section3 .parent:hover .right{
    font-size: 13px;
    border-radius: 5px;
    color: white;
    background-color: royalblue;
    transition: 0.3s;
    padding: 5px 10px;
}
.child{
    display: flex;
}
.child li{
padding: 5px;
}

/* Footer */

footer{
    background-color: #444444;
    text-align: center;
    padding: 30px 0px;
}
footer a{
    text-decoration: none;
    font-family: roboto;
    font-size: 25px;
    color: white;
}
footer h5{
    display: inline;
    font-size: 17px;
    font-family: roboto-serif;
}